html,
body,
.grid-container {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.05fr 0.25fr 1fr 0.05fr;
    grid-template-areas: "Top-Padding Top-Padding Top-Padding" "Header Header Header" "LPadding Content RPadding" "Footer Footer Footer";
    grid-gap: 1.5em;
}

.Content {
    grid-area: Content;
}

.Header {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Navigation Title Search";
    grid-area: Header;
}

.Navigation {
    grid-area: Navigation;
}

.Title {
    grid-area: Title;
}

.Search {
    grid-area: Search;
}

.Top-Padding {
    grid-area: Top-Padding;
}

.Footer {
    grid-area: Footer;
}

.LPadding {
    grid-area: LPadding;
}

.RPadding {
    grid-area: RPadding;
}

.title {
    font-size: 33px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: black;
    text-decoration: none;
}

.htitle {
    display: inline-block;
    width: 400px;
}

.titleBorder {
    text-align: center;
    border-color: black;
    border-style: solid;
    /*border-top-style: solid;
    border-bottom-style: solid;*/
    border-width: 5px;
    width: 400px;
    margin: 0 auto;
}

.poleL {
    position: fixed;
    top: 0em;
    left: 12em;
    width: 56px;
    height: 201px;
    object-fit: cover;
}

.largeTitle {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdownMenuItem {
    text-decoration: none;
    color: black;
}

.map {
    height: 75%;
    width: 100%;
    min-width: 100%;
    position: relative;
}

.iframe map {
    border: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}


.vertical-align {
    letter-spacing: -4px;
    font-size: 0;
}

    .vertical-align .col-xs-4 {
        vertical-align: middle;
        display: inline-block;
        letter-spacing: 0;
        font-size: 14px;
        float: none;
    }

.linkstrip {
    margin-bottom: 30px;
    min-width: 975px;
    text-align: center;
}

.linkContainer {
    position: relative;
    text-align: center;
}


.linkImgBlue {
    width: 190px;
    height: 360px;
    -webkit-filter: sepia(1) saturate(3.5) hue-rotate(175deg) brightness(66%) contrast(300%)
}

.linkImgPink {
    width: 190px;
    height: 360px;
    -webkit-filter: sepia(1) saturate(1.8) hue-rotate(280deg) brightness(66%) contrast(300%)
}

.linkA {
    border: 0;
    border-radius: 0;
}

.linkText {
    text-decoration: none;
    color: #585858;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.reviewList {
    color: black;
    font-weight: lighter;
}


    .reviewList text {
        font-size: medium
    }
