
a.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.25fr 1fr 0.1fr;
    grid-template-areas: "LMargin Header Header RMargin" "LMargin Content Content RMargin" "LMargin Footer Footer RMargin";
}

.Content {
    grid-area: Content;
}

.Header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Navigation Title Search";
    grid-area: Header;
}

.Navigation {
    grid-area: Navigation;
}

.Search {
    grid-area: Search;
}

.Title {
    grid-area: Title;
}

.Footer {
    grid-area: Footer;
}

.LMargin {
    grid-area: LMargin;
}

.RMargin {
    grid-area: RMargin;
}

.title {
    font-size: 33px;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: black;
}
