
a.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.25fr 1fr 0.1fr;
    grid-template-areas: "LMargin Header Header RMargin" "LMargin Content Content RMargin" "LMargin Footer Footer RMargin";
}

.Content {
    grid-area: Content;
}

.Header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Navigation Title Search";
    grid-area: Header;
}

.Navigation {
    grid-area: Navigation;
}

.Search {
    grid-area: Search;
}

.Title {
    grid-area: Title;
}

.Footer {
    grid-area: Footer;
}

.LMargin {
    grid-area: LMargin;
}

.RMargin {
    grid-area: RMargin;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}


.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}


/*star rating*/
@import "compass/css3";

$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    *

{
    font-size: 1rem;
}
/* flip the order so we can use the + and ~ combinators */
unicode-bidi: bidi-override;
direction: rtl;
& > input {
    display: none;
    & + label

{
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    &:before

{
    display: inline-block;
    text-indent: -9999px;
    content: $unchecked-star;
    color: $unchecked-color;
}

}

&:checked ~ label:before,
& + label:hover ~ label:before,
& + label:hover:before {
    content: $checked-star;
    color: #e52;
    text-shadow: 0 0 1px #333;
}

}

/* the hidden clearer */
& > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

    & > .star-cb-clear + label:before {
        width: .5em;
    }

&:hover > input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
}

&:hover > input + label:hover ~ label:before,
&:hover > input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
}
}
