{%extends 'base.html'%}
{% block content %}
<h2 style="text-align:center; font-weight:lighter"> Want to go to a barber? Anxious about it because you're not a cis man? </h2>
<h3 style="text-align:center; font-weight:lighter">Find a safe place to get a haircut!</h3>

<!--from https://stackoverflow.com/questions/37692267/wrapping-an-image-in-a-link-in-a-bootstrap-row -->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <a href="/submit/" title="" class="linkA"><img src="{{ url_for('static',filename='marble.jpg') }}" class="linkImg"><div class="linkText">Submit</div></a>
            </div>
            <div class="col-xs-4">
                <a href="/barbershops/" title="" class="linkA"><img src="{{ url_for('static',filename='marble.jpg') }}" class="linkImg"><div class="linkText">Barbershops</div></a>
            </div>
            <div class="col-xs-4">
                <a href="/reviews/" title="" class="linkA"><img src="{{ url_for('static',filename='marble.jpg') }}" class="linkImg"><div class="linkText">Reviews</div></a>
            </div>
            <div class="col-xs-4">
                <a href="/faq/" title="" class="linkA"> <img src="{{ url_for('static',filename='marble.jpg') }}" class="linkImg"><div class="linkText">Advice &amp;Terminology</div></a>
            </div>
            <div class="col-xs-4">
                <a href="/about/" title="" class="linkA"><img src="{{ url_for('static',filename='marble.jpg') }}" class="linkImg"><div class="linkText">About</div></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}}
